@model Master_Details_With_Crud.Models.Course

<div class="d-flex justify-content-between">
    <div class="col-10 mb-2">
        @Html.DropDownListFor(x => x.CourseId, ViewBag.course as SelectList, "---Select---", new { @class = "form-select form-select-sm" })
    </div>
    <div class="col-2">
        <a id="deleteCourse" class="btn btn-danger btn-sm ms-2">Remove</a>
    </div>
</div>